@import "./variables";
@import "./mixins";
@import "./mediaQueries";

.about-container {
  @include background($bg-white, $textBlack, 5% 20% 5% 13%);
  font-style: italic;
  color: gray;

  h2 {
    line-height: 6rem;
    color: $textBlack;
    font-size: 2rem;
    @include mobile {
      font-size: 1.5rem;
    }
    letter-spacing: 1px;
    @include flexContainer(flex-start, center, row);
    .about-icon {
      margin-left: 12px;
      @include mobile {
        font-size: 1.5rem;
      }
    }
  }

  article {
    line-height: 2rem;
    text-align: justify;
    margin-bottom: 1.5rem;
    @include mobile {
      font-size: .75rem;
    }
    span {
      color: $textBlack;
    }
  }
}


@media (min-width: 0) and (max-width: 992px) {
  .about-container {
   padding-top: 5rem;
   h2 {
    line-height: 3rem;
    margin-bottom: 2rem;
   }
  }
}