@import "./variables";

/* Home component -start */
.home-container {
  @include flexContainer(center, center, column);
  height: 100vh;
  @include background($bg-white, $textWhite, 0 13%);
  margin-top: -5%;
  display: grid;
  grid-template-columns: 4fr 8fr;
  font-style: italic;

  .home-main {
    text-align: left;

    h1 {
      font-size: 2rem;
      margin: 12px auto;
      line-height: 5rem;
      color: $textBlack;
    }

    p {
      line-height: 2rem;
      color: gray;
      font-size: 1rem;
      width: 100%;
      margin: 0 auto;
    }

    button {
      @extend %btn;
    }
  }

  .home-image {
    text-align: center;
    img {
      width: 80%;
      border-radius: 5px;
      box-shadow: 1px 1px 5px lightblue;
    }
  }
}
/* Home component -end */
