
@mixin flexContainer($horizantal, $vertical, $direction) {
    display: flex;
    justify-content: $horizantal;
    align-items: $vertical;
    flex-direction: $direction;
}

@mixin background($background, $color, $padding) {
    padding:$padding;
    background: $background;
    color: $color;
}