@import "./variables";
@import "./mixins";
@import "./mediaQueries";

 

.projects-header {
  background-color: $bg-white;
  color: $textBlack;
  padding: 7% 13% 0 13%;
  font-size: 2rem;
  @include mobile {
    font-size: 1.5rem;
  }
  letter-spacing: 2px;
  font-style: italic;
  @include flexContainer(flex-start, center, row);
  .projects-icon {
    color: rgb(172, 59, 59);
    margin-left: 12px;
    @include mobile {
      font-size: 1.5rem;
    }
  }
}

.project-container {
  @include background($bg-white, $textBlack, 2% 13% 5% 13%);
  display: grid;
  grid-gap: 2rem;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  cursor: pointer;

  .project-info {
    @include mobile {
      width: 75%;
      margin: auto;
    }
    padding: 24px;
    font-style: italic;
    border-radius: 8px;
    box-shadow: 1px 1px 3px gray;
    transition: all 0.7s;
    &:hover {
      box-shadow: 5px 5px 12px gray;
      transform: scale(1.03);
    }
    img {
      width: 100%;
      max-height: 300px;
      border-radius: 5px;
    }
    h4 {
      font-size: 1rem;
      @include mobile {
        font-size: .75rem;
      }
      margin: 6px 0;
    }
    .project-footer {
      @include flexContainer(space-between, center, row);
      ul {
        li {
          font-size: 0.7rem;
          @include mobile {
            font-size: .5rem;
          }
          padding: 3px 0;
        }
      }
      .project-icon {
        font-size: 2rem;
        @include mobile {
          font-size: 1.5rem;
        }
        color: $textBlack;
        cursor: pointer;
        transition: all 0.7s;
        &:hover {
          color: gray;
          transform: scale(1.1);
        }
      }
    }
  }
}


@media (min-width: 0) and (max-width: 992px) {
   .projects-header {
    padding-top: 5rem;
   }
   .project-container {
    padding-top: 2rem;
   }
}