@import "./variables";
@import "./mediaQueries";

.service-container {
    padding:  5% 13%;
    background-color: $bg-white;
    font-style: italic;

    .service-title {
        margin-top: 4%;
        font-size: 2rem;
        @include flexContainer(flex-start, center, 0);
        @include mobile {
            font-size: 1.75rem;
          }

        .service-icon {
            color: rgb(172, 59, 59);
            margin-left: 12px;
        }
    }

    div {
        padding: 1rem 0;

        h3 {
            font-size: 1.5rem;
            letter-spacing: 1px;
            opacity: .7;
            line-height: 4rem;
            @include mobile {
                font-size: 1.25rem;
              }
        }

        p {
            margin: .1rem 0;
            color: gray;
            @include mobile {
                font-size: .75rem;
              }
        }
    }
}

@media (min-width: 0) and (max-width: 992px) {
    .service-container {
     padding-top: 5rem;
    }
 }