@import "./partials/reset";
@import "./partials/variables";
@import "./partials/mixins";
@import "./partials/navbar";
@import "./partials/home";
@import "./partials/contact";

.App {
  background-color: $backgroundColor;
}


  


  .about-container {
    height: 100vh;
    background-color: yellowgreen;
     
  }

  .service-container {
    height: 100vh;
    background-color: white;
  }


  