* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  box-sizing: border-box;
  font-family: Verdana;
}

.home-container .home-main button {
  background-color: rgb(31, 34, 53);
  font-style: italic;
  font-weight: 500;
  padding: 8px 12px;
  color: white;
  font-size: 1.2rem;
  outline: none;
  letter-spacing: 1.5px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
  transition: all 0.5s;
}
.home-container .home-main button:hover {
  color: black;
  background-color: white;
}

/* Navbar component -start */
.navbar-container {
  margin: 0 auto 1rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 1.5% 13%;
  background: rgb(31, 34, 53);
  color: white;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  top: 0;
}
.navbar-container .navbar-logo {
  font-size: 2rem;
  color: red;
  font-style: italic;
  font-weight: 100;
  letter-spacing: 5px;
  text-transform: lowercase;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.navbar-container .navbar-logo span {
  font-weight: bold;
  color: white;
}
.navbar-container .toggle-icon {
  margin-left: auto;
  display: none;
  cursor: pointer;
  padding: 1%;
}
.navbar-container ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.navbar-container ul li {
  padding: 6px 1.2rem;
  cursor: pointer;
  transition: all 0.7s;
}
.navbar-container ul li:hover {
  transform: scale(1.2);
}
.navbar-container ul li:hover a {
  color: red;
}
.navbar-container ul li a {
  color: white;
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: 1.6px;
  font-style: italic;
  transition: all 0.7s;
}

@media (min-width: 0) and (max-width: 960px) {
  .navbar-container {
    display: block;
  }
  .navbar-container .show {
    opacity: 1;
    visibility: visible;
    height: auto;
  }
  .navbar-container .hidden {
    opacity: 0;
    height: 0;
  }
  .navbar-container .navbar-logo {
    display: inline-block;
  }
  .navbar-container .toggle-icon {
    display: inline-block;
    margin-left: auto;
    position: absolute;
    right: 3%;
  }
  .navbar-container ul {
    visibility: hidden;
    opacity: 0;
    display: block;
    width: 100%;
    text-align: left;
  }
  .navbar-container ul li {
    padding: 3% 0%;
    transition: all 0.7s;
  }
  .navbar-container ul li:hover {
    transform: translateX(2rem);
  }
}
/* Navbar component -end */
/* Home component -start */
.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 7% 13% 5% 13%;
  background: white;
  color: white;
  margin-top: -5%;
  display: grid;
  grid-template-columns: 6fr 6fr;
  font-style: italic;
}
.home-container .home-main {
  text-align: left;
}
.home-container .home-main h1 {
  font-size: 2.5rem;
  margin: 12px auto;
  line-height: 5rem;
  color: black;
}
.home-container .home-main p {
  line-height: 2rem;
  color: gray;
  font-size: 1rem;
  width: 100%;
  margin: 0 auto;
}
.home-container .home-image {
  text-align: center;
}
.home-container .home-image img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  transition: box-shadow 0.7s;
}
.home-container .home-image img:hover {
  box-shadow: 3px 3px 5px rgb(54, 50, 50);
}

/* Home component -end */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(31, 34, 53);
  color: white;
  padding: 2% 15%;
  font-style: italic;
}
footer h3 {
  margin: 6px auto;
  font-size: 2.3rem;
  font-weight: 500;
  letter-spacing: 2px;
}
footer a {
  color: white;
}
footer .social-icon {
  margin: 6px auto;
  font-size: 2.2rem;
  cursor: pointer;
}
footer .social-icon .icon {
  margin: 0 16px;
  transition: all 0.7s;
}
footer .social-icon .icon:hover {
  color: gray;
}
footer p {
  font-size: 12px;
  opacity: 0.5;
  margin: 6px auto;
}

.service-container {
  padding: 5% 13%;
  background-color: white;
  font-style: italic;
}
.service-container .service-title {
  margin-top: 4%;
  font-size: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: 0;
}
.service-container .service-title .service-icon {
  color: rgb(172, 59, 59);
  margin-left: 12px;
}
.service-container div {
  padding: 1rem 0;
}
.service-container div h3 {
  font-size: 1.5rem;
  letter-spacing: 1px;
  opacity: 0.7;
  line-height: 4rem;
}
.service-container div p {
  margin: 0.1rem 0;
  color: gray;
}

.home-container .home-main button {
  background-color: rgb(31, 34, 53);
  font-style: italic;
  font-weight: 500;
  padding: 8px 12px;
  color: white;
  font-size: 1.2rem;
  outline: none;
  letter-spacing: 1.5px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
  transition: all 0.5s;
}
.home-container .home-main button:hover {
  color: black;
  background-color: white;
}

.projects-container {
  padding: 5% 13%;
  background: white;
  color: black;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}
.projects-container .project-info {
  padding: 24px;
  font-style: italic;
  border-radius: 8px;
  box-shadow: 2px 2px 5px gray;
}
.projects-container .project-info:hover {
  box-shadow: 5px 5px 12px gray;
}
.projects-container .project-info img {
  width: 400px;
}
.projects-container .project-info h4 {
  font-size: 1rem;
  margin: 6px 0;
}
.projects-container .project-info .project-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.projects-container .project-info .project-footer ul li {
  font-size: 0.7rem;
  padding: 3px 0;
}
.projects-container .project-info .project-footer .project-icon {
  font-size: 2rem;
  color: black;
  cursor: pointer;
  transition: all 0.7s;
}
.projects-container .project-info .project-footer .project-icon:hover {
  color: gray;
  transform: scale(1.1);
}

.about-container {
  padding: 5% 20% 5% 13%;
  background: white;
  color: black;
  font-style: italic;
  color: gray;
}
.about-container h2 {
  line-height: 4rem;
  color: black;
  letter-spacing: 1px;
}
.about-container article {
  line-height: 2rem;
  text-align: justify;
  margin-bottom: 1.5rem;
}
.about-container article span {
  color: black;
}

.App {
  background-color: rgb(31, 34, 53);
}/*# sourceMappingURL=main.css.map */